<%= form_with model: [ @product, @product.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter , class:"form-label"%><br>
    <%= form.text_field :commenter, class:"form-control" %>
  </p>
  <p>
    <%= form.label :body, class:"form-label" %><br>
    <%= form.text_area :body,class:"form-control" %>
  </p>
  <p>
  <%= form.label :status ,class:"form-label" %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: 'public',class:"form-select" %>
</p>

  <p>
    <%= form.submit "Comment" ,  class:"btn btn-outline-success" %>
  </p>
<% end %>